body {
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

h2 {
    color: #007bff;
}

button {
    margin-top: 20px;
}
.btv{
       
       padding: 5px;
       margin-top: 20px;
       margin-left: 20px;
       border-radius: 5px;
       height: 40px;
       width: 80px;
       color: #ffffff;
       background-color: yellow;
       text-align: center;
       
   }