<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulário de Busca</title>
    <!-- Adicione os links para o Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Adicione o link para o jQuery (necessário para Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- Adicione o link para o Popper.js (necessário para Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Adicione o link para o Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
     <!-- Link para a folha de estilo externa -->
     <link rel="stylesheet" href="/static/style/busca_style.css">

</head>

<body>

    <div class="container mt-4">
        <h2 class="text-center mb-4">Formulário de Pesquisa</h2>
        <!-- Adicione o formulário Flask com a ação apontando para a rota '/busca' -->
        <form id="searchForm" method="post" action="/busca">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputData">Data</label>
                    <input type="date" class="form-control" id="inputData" name="data">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputNome">Nome do Aluno</label>
                    <input type="text" class="form-control" id="inputNome" name="nome_aluno">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputStatus1">Status 1</label>
                    <select type="text" class="form-control" id="inputStatus1" name="status1">
                        <option value=""></option>
                          <option value="Concluido">Concluído</option>
                          <option value="CT">CT</option>
                          <option value="Pendente">Pendente</option>
                          <option value="Encaminhado">Encaminhado</option>
                        </select>
                      
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputStatus2">Status 2</label>
                    <select type="text" class="form-control" id="inputStatus2" name="status2">
                    <option value=""></option>
                    <option value="Resolvido">Resolvido</option>
                    <option value="Pendente">Pendente</option>
                </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputNumeroATA">Número ATA</label>
                    <input type="text" class="form-control" id="inputNumeroATA" name="numeroATA">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputAtendidoPor">Atendido por</label>
                    <input type="text" class="form-control" id="inputAtendidoPor" name="Atendido_por">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="SerieAno">Serie(Ano)</label>
                    <input type="text" class="form-control" id="SerieAno" name="serie">
                </div>
                <div class="form-group col-md-4">
                    <label for="Turma">Turma</label>
                    <select type="text" class="form-control" id="Turma" name="turma">
                    <option value=""></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="H">H</option>
                    <option value="I">I</option>
        <!-- Adicione as outras opções de turma conforme necessário -->
      </select>
                </div>
      <div class="form-group col-md-4">
        <label for="responsavel">Tel:responsavel</label>
        <input type="text" class="form-control" id="SerieAno" name="responsavel">
    </div>
                </div>
            </div>
            <div class="form-group text-center d-flex flex-row justify-content-center">
                <!-- Mude o tipo de botão para 'submit' para enviar o formulário -->
                <button type="submit" class="btn btn-primary">Buscar</button>
                <!-- Adicione o botão "Voltar" -->
                <a class="btv"  href="/">Voltar</a>
            </div>
            
        </form>
       
        
        <!-- Onde você exibirá os resultados da busca -->
        <div class="container mt-4">
            <div id="resultados">
                <!-- Os resultados da busca serão exibidos aqui -->
                {% if ocorrencias %}
                    <ul class="list-group ocorrencia-list">
                        {% for i in range(len) %}
                            <li class="list-group-item">
                                <strong>Data:</strong> {{ocorrencias[i][1]}}<br>
                                <strong>Horário:</strong> {{ocorrencias[i][2]}}<br>
                                <strong>Aluno:</strong> {{ocorrencias[i][3]}}<br>
                                <strong>Ano/Série:</strong> {{ocorrencias[i][5]}}ª<br>
                                <strong>Turma:</strong> {{ocorrencias[i][4]}}<br>
                                <strong>Atendido_por: </strong>{{ocorrencias[i][17]}}
                                <div><strong>Ocorrência:</strong></div>
                                <textarea class="form-control" rows="4" cols="50" readonly>{{ocorrencias[i][8]}}</textarea>
                                <!-- <strong>destinatario:</strong>{{ocorrencias[i][16]}} -->
                            </li>
                            
                            
                            
                            {% endfor %}
                            <button type="button" class="btn btn-success" id="btnImprimir" onclick="prepararImpressao()">Imprimir Resultados</button>
                            <!-- Adicione isso ao seu HTML onde deseja exibir o botão -->
    <button type="button" class="btn btn-primary" id="btnEnviarEmail" onclick="enviarEmail()">Enviar Email</button>

                    </ul>
                {% endif %}
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
            }
    
            h1 {
                color: #333;
            }
    
            #resultados {
                /* Adicione estilos adicionais conforme necessário para o conteúdo da pesquisa */
            }
    
            #btnImprimir {
                display: block;
            }
        </style>
    </head>
    <body>
        <div id="resultados">
            <!-- Conteúdo da pesquisa aqui -->
        </div>
    
        <script>
 function prepararImpressao() {
    var btnImprimir = document.getElementById('btnImprimir');
    btnImprimir.style.display = 'none'; // Oculta o botão antes de imprimir
    var btnEnviarEmail = document.getElementById('btnEnviarEmail');
    btnEnviarEmail.style.display = 'none'; // Oculta o botão antes de imprimir

    var conteudo = document.getElementById('resultados').innerHTML;
    var janelaImprimir = window.open('', '_blank');
    janelaImprimir.document.write('<html><head><title>Resultado da Pesquisa</title>');
    janelaImprimir.document.write('<link rel="stylesheet" type="text/css" href="caminho/para/estilos.css">');
    janelaImprimir.document.write('</head><body>');
    janelaImprimir.document.write('<h1>Resultado da Pesquisa</h1>');
    janelaImprimir.document.write(conteudo);
    janelaImprimir.document.write('</body></html>');
    janelaImprimir.document.close();
    btnImprimir.style.display = 'block';
    btnEnviarEmail.style.display = 'block'
    janelaImprimir.print();
}
</script>

        <script>
            function enviarEmail() {
                // Extrair os dados do resultado e criar um objeto JavaScript

                var dados = [];
                JSON.stringify({% for i in range(ocorrencias | length) %})
                    var ocorrencia = {
                        data: '{{ocorrencias[i][1]}}',
                        horario: '{{ocorrencias[i][2]}}',
                        aluno: '{{ocorrencias[i][3]}}',
                        ata: '{{ocorrencias[i][12]}}',
                        turma: '{{ocorrencias[i][4]}}',
                        serie: '{{ocorrencias[i][5]}}',
                        telResponsavel: '{{ocorrencias[i][14]}}',
                        professor: '{{ocorrencias[i][6]}}',
                        endereco: '{{ocorrencias[i][15]}}',
                        ocorrencia: '{{ocorrencias[i][8]}}',
                        email:'{{ocorrencias[i][16]}}',
                        atendido_por:'{{ocorrencias[i][17]}}'
                    };
                    JSON.stringify({% endfor %})
                    dados.push(ocorrencia);
        
                // Enviar dados para a rota Flask
                fetch('/enviar_email', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({dados: dados}),
                })
                .then(response => response.json())
                .then(data => {
                    // Tratar a resposta, se necessário
                    console.log('Resposta do servidor:', data);
                   
                })
                .catch(error => {
                    console.error('Erro ao enviar email:', error);
                });
                alert("Email enviado com sucesso!!!")
            }
        </script>
        
        
</body>

</html>