<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulário de Busca</title>
    <!-- Adicione os links para o Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Adicione o link para o jQuery (necessário para Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- Adicione o link para o Popper.js (necessário para Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Adicione o link para o Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 50px;
        }

        h2 {
            color: #007bff;
        }

        button {
            margin-top: 20px;
        }
        .btv{
               
               padding: 5px;
               margin-top: 20px;
               margin-left: 20px;
               border-radius: 5px;
               height: 40px;
               width: 80px;
               color: #ffffff;
               background-color: yellow;
               text-align: center;
               
           }
    </style>
</head>

<body>

    <div class="container mt-4">
        <h2 class="text-center mb-4">Formulário de Pesquisa</h2>
        <!-- Adicione o formulário Flask com a ação apontando para a rota '/busca' -->
        <form id="searchForm" method="post" action="/busca">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputData">Data</label>
                    <input type="date" class="form-control" id="inputData" name="data">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputNome">Nome do Aluno</label>
                    <input type="text" class="form-control" id="inputNome" name="nome_aluno">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputStatus1">Status 1</label>
                    <select type="text" class="form-control" id="inputStatus1" name="status1">
                        <option value=""></option>
                          <option value="Concluido">Concluído</option>
                          <option value="CT">CT</option>
                          <option value="Pendente">Pendente</option>
                          <option value="Encaminhado">Encaminhado</option>
                        </select>
                      
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputStatus2">Status 2</label>
                    <select type="text" class="form-control" id="inputStatus2" name="status2">
                    <option value=""></option>
                    <option value="Resolvido">Resolvido</option>
                    <option value="Pendente">Pendente</option>
                </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputNumeroATA">Número ATA</label>
                    <input type="text" class="form-control" id="inputNumeroATA" name="numeroATA">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputAtendidoPor">Atendido por</label>
                    <input type="text" class="form-control" id="inputAtendidoPor" name="nome_prof">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="SerieAno">Serie(Ano)</label>
                    <input type="text" class="form-control" id="SerieAno" name="serie">
                </div>
                <div class="form-group col-md-4">
                    <label for="Turma">Turma</label>
                    <select type="text" class="form-control" id="Turma" name="turma">
                    <option value=""></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="H">H</option>
                    <option value="I">I</option>
        <!-- Adicione as outras opções de turma conforme necessário -->
      </select>
                </div>
            </div>
            <div class="form-group text-center d-flex flex-row justify-content-center">
                <!-- Mude o tipo de botão para 'submit' para enviar o formulário -->
                <button type="submit" class="btn btn-primary">Buscar</button>
                <!-- Adicione o botão "Voltar" -->
                <a class="btv"  href="/">Voltar</a>
            </div>
            
        </form>
       
        
        <!-- Onde você exibirá os resultados da busca -->
        <div class="container mt-4">
            <div id="resultados">
                <!-- Os resultados da busca serão exibidos aqui -->
                {% if ocorrencias %}
                    <ul class="list-group ocorrencia-list">
                        {% for i in range(len) %}
                            <li class="list-group-item">
                                <strong>Data:</strong> {{ocorrencias[i][1]}}<br>
                                <strong>Horário:</strong> {{ocorrencias[i][2]}}<br>
                                <strong>Aluno:</strong> {{ocorrencias[i][3]}}<br>
                                <strong>ATA:</strong> {{ocorrencias[i][12]}}<br>
                                <strong>Turma:</strong> {{ocorrencias[i][4]}}<br>
                                <strong>Série:</strong> {{ocorrencias[i][0]}}<br>
                                <strong>Professor:</strong> {{ocorrencias[i][6]}}<br>
                                <div><strong>Ocorrência:</strong></div>
                                <textarea class="form-control" rows="4" cols="50" readonly>{{ocorrencias[i][8]}}</textarea>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
</body>

</html>