<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulário de Busca</title>
    <!-- Adicione os links para o Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Adicione o link para o jQuery (necessário para Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- Adicione o link para o Popper.js (necessário para Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Adicione o link para o Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 50px;
        }

        h2 {
            color: #007bff;
        }

        button {
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <div class="container mt-4">
        <h2 class="text-center mb-4">Formulário de Busca</h2>
        <!-- Adicione o formulário Flask com a ação apontando para a rota '/busca' -->
        <form id="searchForm" method="post" action="/busca">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputData">Data</label>
                    <input type="date" class="form-control" id="inputData" name="data">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputNome">Nome do Aluno</label>
                    <input type="text" class="form-control" id="inputNome" name="nome_aluno">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputStatus1">Status 1</label>
                    <input type="text" class="form-control" id="inputStatus1" name="status1">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputStatus2">Status 2</label>
                    <input type="text" class="form-control" id="inputStatus2" name="status2">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputNumeroATA">Número ATA</label>
                    <input type="text" class="form-control" id="inputNumeroATA" name="numeroATA">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputAtendidoPor">Atendido por</label>
                    <input type="text" class="form-control" id="inputAtendidoPor" name="nome_prof">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="SerieAno">Serie(Ano)</label>
                    <input type="text" class="form-control" id="SerieAno" name="serie">
                </div>
                <div class="form-group col-md-4">
                    <label for="Turma">Turma</label>
                    <input type="text" class="form-control" id="Turma" name="turma">
                </div>
            </div>
            <div class="form-group text-center">
                <!-- Mude o tipo de botão para 'submit' para enviar o formulário -->
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>

        <!-- Onde você exibirá os resultados da busca -->
        <div id="resultados" class="mt-4">
            <!-- Os resultados da busca serão exibidos aqui -->
            {% if ocorrencias %}
    <ul class="ocorrencia-list">
        <div>
        <tr><strong>Data:</strong> {{ocorrencias[0][1]}}</tr><br>
        <tr><strong>Horário:</strong> {{ocorrencias[0][2]}}</tr><br>
        <tr><strong>Aluno:</strong> {{ocorrencias[0][3]}}</tr><br>
        <tr><strong>Turma:</strong> {{ocorrencias[0][5]}}</tr><br>
        <tr><strong>Série:</strong> {{ocorrencias[0][4]}}</tr><br>
        <tr><strong>Professor:</strong> {{ocorrencias[0][6]}}</li><br>
        <div><strong>Ocorrência:</strong></div>
    </div>
        <div>
            <textarea rows="4" cols="50">{{ocorrencias[0][8]}}</textarea>
        </div>
    </ul>
{% endif %}
        </div>
    </div>

</body>

</html>