<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocorrência Escolar</title>
    <link rel="stylesheet" href="/static/style/index_style.css">
</head>
<body>
    <header>
        <div class="menu">
            <a href="/ocorrencia">Ocorrência</a>
            <a href="/busca">Pesquisa</a>
        </div>
    </header>
    
    <!-- Contêiner da imagem -->
    <div class="image-container">
        <img src="/static/img/gr.jpg" alt="Descrição da imagem">
    </div>
</body>
</html>
